@media screen and (min-width:428px) {
    .container {
        max-width: 426px;
    }

    .title {
        text-align: center;
    }
    .section-employee-item{
        flex-direction: column;
        gap: 72px;
        align-items: center;
    }
    /* .container {
     width: 428px;
      margin: 0 auto;} */
   .subscribe-input{
    width: 398px;
   }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 766px;
    }
.menu-item{
display: block;
}
.address{
    display: block;
}
   .feature-list-item{
width: calc((100% - 72px) / 2);

   }
   .feature-list{
   gap: 72px 24px;
   }
  .section-employee-item{
flex-direction: row;
flex-wrap: wrap;
gap: 64px 24px;
justify-content: center;
  } 
.menu-open-btn{
    display: none;
}
.address-item{
    display: flex;
        gap: 12px;
        flex-wrap: wrap;
        padding-left: 81px;
        padding-top: 16px;
        padding-bottom: 16px;
}
.hero-text{
font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
}
.customers-link{
    /* width: calc((100% - 48px) / 6); */
    flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
}
}
@media screen and (min-width:1158px) {
 .container {
 max-width: 1158px;}
 .feature-list-item {
 width: calc((100% - 72px) / 4);}
 .second-section-icon{
  display:flex;
}
 .apps{
  display: block;
  }
                
}

 