@media screen and (min-width:428px) {
    .container {
        max-width: 426px;
    }

    .title {
        text-align: center;
    }
    .section-employee-item{
        flex-direction: column;
        gap: 72px;
        align-items: center;
    }
    /* .container {
     width: 428px;
      margin: 0 auto;} */
   .subscribe-input{
    width: 398px;
   }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 766px;
    }
.menu-item{
display: block;
}
.address{
    display: block;
}
   .feature-list-item{
width: calc((100% - 72px) / 2);

   }
   .feature-list{
   gap: 72px 24px;
   }
  .section-employee-item{
flex-direction: row;
flex-wrap: wrap;
gap: 64px 24px;
justify-content: center;
  } 
.menu-open-btn{
    display: none;
}
.address-item{
    display: flex;
        gap: 12px;
        flex-wrap: wrap;
        padding-left: 81px;
        padding-top: 16px;
        padding-bottom: 16px;
}
.hero-text{
font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
}
.customers-link{
    /* width: calc((100% - 48px) / 6); */
    flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
}
.footer-container{
    gap: 72px 24px;
        flex-direction: row;
        align-items: baseline;
}
.div-text-logo{
    margin-left: 108px;
    padding-right: 24px;
}
.footer-subscribe-block{
    margin-left: 108px;
}
.subscribe-text{
    margin-left: -180px;
}
.subscribe-input{
    width: 264px;
}
.subscribe-button-footer{
    flex-wrap: wrap;
}
.subscribe-form-footer{
    flex-direction: row;
    
    
}
.footer-list-social{
    margin: 0;
}
.hero{
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tablet-1x.jpg);
   
}
 @media screen and (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .hero {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tablet-2x.jpg);
     }
 }
}
@media screen and (min-width:1158px) {
 .container {
 max-width: 1158px;}
 .feature-list-item {
 width: calc((100% - 72px) / 4);}
 .second-section-icon{
  display:flex;
  width: 264px;
}
 .apps{
  display: block;
  }
      .footer-container{
        margin-left: 156px;
      } 
      .address-item{
        padding-left: 260px;
      }
    .title{
        
            font-size: 20px;
            
            font-weight: 500;
            line-height: 1.2;
           
            letter-spacing: 0.4px;
    }
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-desktop-1x.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
        }
          @media scpadding: 120px 0;reen and (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
              .hero {
                  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-desktop-2x.jpg);
              }
          }
.feature{
padding: 120px 0;
}
.feature-list{
    padding: 0;
    margin: 0;
}
.menu{
    gap: 40px;
}
}

 